<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="메인화면"/>
  <meta name="keywords" content="pet hospital search"/>
  <meta name="author" content="2팀"/>
  <title>my page</title>
  <!--  마이페이지 css -->
  <link rel="stylesheet" href="/css/mypage/mypage_pet_modify.css"/>
  <!--  폰트 어썸 : 로고 -->
  <script
      src="https://kit.fontawesome.com/6631aa96e6.js"
      crossorigin="anonymous"
  ></script>
  <!-- jquery CDN -->
  <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<!-- 이미지 파일 img 폴더에 넣었습니다. -->
<!-- mypage_pet_reg.css 안에 @import './theme/layout.css'; 추가해주시면 헤더, 푸터 css 적용 됩니다. -->

<body>
<div class="wrap">
  <div class="hd-l"></div>
  <header class="hd">
    <!-- 프레그먼트 반영:menu  -->
    <th:block th:replace="~{fragment/menu::gnb}"></th:block>
  </header>
  <div class="hd-r"></div>

  <div class="fg-l"></div>
  <figure class="fg-banner">
    <div class="user-profile">
      <p>마이페이지</p>
      <h2>반가워요</h2>
      <div class="profile-list">
        <div class="profile-list__areas">
          <!-- 프레그먼트 반영-->
          <th:block th:replace="~{fragment/pet_info::pet}"></th:block>
        </div>
        <div class="profile-make" onclick="location.replace(`/mypage/petreg`)">
          <a href="./mypage_pet_reg.html">
            <img src="../img/add_circle.png" alt=""/>
          </a>
        </div>
      </div>
    </div>
  </figure>
  <div class="fg-r"></div>

  <div class="mn-l"></div>
  <main class="container">
    <!-- 사이드메뉴 -->
    <div class="main-gnb">
      <div class="pc" id="mypagePcGnb">
        <ul>
          <li><a href="./mypage_main.html" th:href="@{/mypage/memberedit}">보호자 정보관리</a></li>
        </ul>
        <ul>
          <li><a href="./mypage_pet_reg.html" th:href="@{/mypage/petreg}">반려동물 등록</a></li>
        </ul>
        <ul>
          <li><a href="./mypage_scheduler.html">의료수첩 관리</a></li>
        </ul>
      </div>
    </div>
    <!-- 메인컨텐츠 -->
    <div class="mypage_content">
      <form action="" method="post" th:object="${petUpdateForm}">
        <input type="hidden" th:field="*{petNum}">
        <!--            th:action="@{mypage/petreg}"-->
        <div class="myprofile-top">반려동물 등록</div>
        <div class="myprofile-list">
          <ul class="list-frm">
            <div class="list">사진
              <input type="text" th:placeholder="${session.loginMember.userId}" style="display:none"
                     th:value="${session.loginMember.userId}" name="userId" id="userId" readonly>
              <!--                <input type="text" th:field="*{petNum}" name="petNum" id="petNum" readonly >-->
              <!--                              <span th:text="${session.loginMember.userId}"  style="display: none"></span>-->
              <!--                th:field="*{userId}"-->
            </div>
            <div class="list-frm">
              <div class="myprofile-list-image">
                <div class="contents">
                  <div class="upload-box">
                    <div id="drop-file" class="drag-file">
                      <img
                          src="../static/img/img_profile1.png"
                          alt=""
                          class="image"
                      />

                      <img src="" alt="미리보기 이미지" class="preview"/>
                      <!--이미지 출력부분-->
                      <div class="content__view-imgs">
                        <div th:each="file : ${imagedFiles}" class="view__img">
                          <th:block th:if="${#strings.contains(file.ftype,'image')}">
                            <img th:src="@{|/attach/view/${file.uploadfileId}|}"
                                 width="300px" , height="300px">
                          </th:block>
                        </div>
                      </div>
                      <th:block th:if="${not #lists.isEmpty(imageFiles)}">
                        <li>
                          <div class="myprofile-list-text">
                            회원님을 알수있는 사진을 등록해주세요
                          </div>
                        </li>
                      </th:block>
                    </div>
                    <label class="file-label" for="chooseFile">사진업로드</label>
                    <input
                        class="file"
                        id="chooseFile"
                        type="file"
                        onchange="dropFile.handleFiles(this.files)"
                        accept="image/png, image/jpeg, image/gif"
                        th:field="*{imageFiles}"/>
                    <!-- petImg   -->
                  </div>
                </div>
              </div>
            </div>
          </ul>


          <div class="list-frm">
            <div class="list">이름</div>
            <input type="text" id="petname-text" maxlength="10" th:field="*{petName}"/>
            <ul>
              <li>한글, 영어, 숫자 최대 10자까지 등록할 수 있어요 :)</li>
            </ul>
          </div>

          <div class="list-frm">
            <div class="list">반려동물 품종</div>
            <input type="text" class="my-info" maxlength="15" th:field="*{petType}"/>
          </div>
          <div class="list-frm">
            <div class="list">성별</div>
            <input type="radio" name="gender" id="gender_male" value="M" th:field="*{petGender}"/>
            <label for="gender_male" class="gender_male" data-action="OFF"
            >남자</label>
            <input type="radio" name="gender" id="gender_female" value="F" th:field="*{petGender}"/>
            <label for="gender_female" class="gender_female"
                   data-action="ON">여자</label>
            <!--              th:checked="${data.petGender}"-->
          </div>

          <div class="list-frm">
            <div class="list">생일</div>
            <input type="date" id="petBirth" th:field="*{petBirth}"/>
          </div>
          <div class="list-frm">
            <div class="list">입양일</div>
            <input type="date" id="petDate" th:field="*{petDate}"/>
          </div>

          <div class="list-frm">
            <div class="list">중성화 여부</div>
            <!-- 중성화:Neutering -->
            <input type="radio" name="check0" id="neuYes" value="Y" th:field="*{petYn}"/>
            <label for="neuYes" class="check-on" data-action="ON"
            >중성화 전</label
            >
            <input
                type="radio"
                name="check0"
                id="neuNo"
                value="N"
                th:field="*{petYn}"
            />
            <label for="neuNo" class="check-off" data-action="OFF"
            >중성화 후</label
            >
          </div>
          <div class="list-frm">
            <div class="list">기초접종 여부</div>
            <!-- vaccine -->
            <input
                type="radio"
                name="check1"
                id="vacNone"
                value="P0101"
                th:field="*{petVac}"
            />
            <label for="vacNone" class="check-on" data-action="ON"
            >모름</label
            >
            <input
                type="radio"
                name="check1"
                id="vacBefore"
                value="P0102"
                th:field="*{petVac}"
            />
            <label for="vacBefore" class="check-on" data-action="OFF"
            >접종 전</label
            >
            <input
                type="radio"
                name="check1"
                id="vacIng"
                value="P0103"
                th:field="*{petVac}"
            />
            <label for="vacIng" class="check-on" data-action="OFF"
            >접종 중</label
            >

            <input
                type="radio"
                name="check1"
                id="vacAfter"
                value="P0104"
                th:field="*{petVac}"
            />
            <label for="vacAfter" class="check-on" data-action="OFF"
            >접종 완료</label
            >
          </div>

          <div class="list-frm">
            <div class="list">기타 사항</div>
            <p>
                  <textarea
                      th:value="${petInfo}"
                      th:text="${petInfo}"
                      name="act-text"
                      placeholder="기타정보를 입력해보세요"
                      cols="40"
                      rows="5"
                  ></textarea>
            </p>
          </div>
        </div>
        <!-- 수정 삭제버튼 -->
        <div class="list-frm">
          <div class="my-info">
            <div class="myprofile-button">
              <button type="submit" class="btn-frm" id="btn_modify" value="confirm">
                수정하기
              </button>
              <button type="button" class="btn-frm" id="btn_del" value="confirm">
                삭제하기
              </button>
            </div>
          </div>
        </div>
    </div>
  </main>
  <div class="mn-r"></div>

  <div class="ft-l"></div>
  <!-- 프레그먼트 반영 footer -->
  <th:block th:replace="~{fragment/footer::fnb}"></th:block>
  <!-- 개인정보 약관 -->
  <th:block th:replace="~{fragment/footer::ft-modal1}"></th:block>
  <!-- 이용 약관 -->
  <th:block th:replace="~{fragment/footer::ft-modal2}"></th:block>
  <!-- 광고 문의 -->
  <th:block th:replace="~{fragment/footer::ft-modal3}"></th:block>
  <div class="ft-r"></div>
</div>
<!-- 햄버거 메뉴 구현 -->
<script src="../js/hambuger.js" th:src="@{/js/hambuger.js}"></script>
<!-- my page -->
<script src="../js/mypage_pet_modify.js" th:src="@{/js/mypage_pet_modify.js}"></script>
<script src="../js/mypage_main.js" th:src="@{/js/mypage_main.js}"></script>
<!-- footer 모달 구현 -->
<script src="../js/ft_modal.js"></script>
<!--사이드메뉴 강조-->
<script>
      $(function () {
        $('#mypagePcGnb').children().eq(1).find('a').addClass('on');
      });

</script>
</body>
</html>
