<!DOCTYPE html>
<html lang="ko"xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="메인화면" />
  <meta name="keywords" content="pet hospital search" />
  <meta name="author" content="2팀" />
  <title>슬기로운 반려생활</title>
  <!--  메인화면 css -->
  <link rel="stylesheet" href="/css/map/findBymap.css" />
  <!--  폰트 어썸 : 로고 -->
  <script src="https://kit.fontawesome.com/6631aa96e6.js" crossorigin="anonymous"></script>
  <!-- 카카오 카테고리 지도 API -->
  <script type="text/javascript"
          src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4723c31f03890875728666f8c3711023&libraries=services"></script>
  <!-- jquery -->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>

  </script>
</head>

<body>
<div class="wrap">
  <div class="hd-l"></div>
  <header class="hd">
    <!-- 프레그먼트 반영:menu  -->
    <th:block th:replace="~{fragment/menu::gnb}"></th:block>
  </header>
  <div class="hd-r"></div>

  <div class="fg-l"></div>
  <figure class="fg-banner">
    <article class="fg-banner__left">
      <div class="banner-title">
        <p>펫병원</p>
        <h2>우리 반려동물의 병원을 찾아보세요!</h2>
      </div>
      <div class="banner-title__search">
        <button class="search-btns" id="myPlace">현재 위치로 설정</button>
        <button class="search-btns" id="regionChoice">지역 선택</button>
      </div>

      <!-- 선택한 지역 표시 -->
      <div class="search-res" id="searchRes">
        <h4>선택한 지역: </h4>
      </div>
    </article>
    <aside class="fg-banner__right">
      <i class="fa-solid fa-shield-cat"></i>
    </aside>
    <!-- 지역선택 팝업 -->
    <dialog id="regionSelect">
      <article class="regionSelect__closebtn">
        <h4>지역선택</h4>
        <i class="fa-solid fa-xmark" id="regionCloseBtn"></i>
      </article>
      <hr />
      <aside class="regionSelect__address">
        <select name="sido" id="sido">
        </select>
        <select name="gugun" id="gugun">
        </select>
        <button id="regionBtn">확인</button>
      </aside>
    </dialog>
  </figure>

  <div class="fg-r"></div>

  <div class="mn-l"></div>

  <main class="container">
    <!-- 지도표시 -->
    <div id="map"></div>
    <div id="menu_wrap" class="bg_white">
      <div class="option">
        <div>
          <form onsubmit="searchPlaces(); return false;">
            <!-- 검색 : <input type="text" value="동물병원" id="keyword" size="15" readonly> -->
          </form>
        </div>
      </div>
      <hr>
      <ul id="placesList"></ul>
      <div id="pagination"></div>
    </div>


    <div class="bottom-menu">
      <!-- 동물필터 -->
      <form action="" class="select-tag" name="petTag">
        <input type="checkbox" name="dog" id="dogCheckbox">
        <label for="dog">강아지</label>
        <input type="checkbox" name="cat" id="catCheckbox">
        <label for="cat">고양이</label>
        <input type="checkbox" name="small" id="smallCheckbox">
        <label for="small">소동물</label>
        <input type="checkbox" name="other" id="otherCheckbox">
        <label for="other">기타</label>
        <button id="petTagBtn">적용</button>
      </form>
      <!-- 병원목록 필터 -->
      <!-- <select name="listFilter" id="listFilter">
        <option value="distance">거리순</option>
        <option value="grade">평점</option>
      </select> -->
    </div>
    <!-- 병원목록 -->
    <div class="res-list">

      <!-- 목록1 -->
      <div class="list-content1">
        <!-- 병원 이미지-->
        <div class="list-content__img">
          <!-- 기본이미지 -->
          <i class="fa-solid fa-shield-cat"></i>
        </div>
        <!--  병원 정보 -->
        <div class="list-content__info">

          <div class="info__address">
            <!-- 주소 -->
            <p id="region" class="hospital-address">울산 남구</p>
            <!-- 거리 -->
            <span id="regionDis">1.4km</span>
          </div>

          <!-- 병원이름, 평점 (별)-->
          <div class="info__grade">
            <!-- 병원이름 -->
            <h3 id="info__name" class="hospital-name">S동물메디컬센터</h3>
            <!-- 별 아이콘 -->
            <i class="fa-solid fa-star" style="color: #f26d3e;"></i>
            <!-- 평점 -->
            <p></p>
          </div>
          <!-- 진료 동물 -->
          <div class="info__petTag">
            <p class="petTag">실패</p>
          </div>
          <!-- 기타정보 -->
          <div class="info__other">
            <p class="addInfo">실패</p>
          </div>
        </div>
        <!-- 병원 상세정보 버튼 -->
        <button class="list-content__btn" id="infoBtn1">자세히보기</button>
      </div>
      <!-- 병원 상세정보 팝업 -->
      <dialog class="list-details1" id="list-details1">
        <!-- 팝업창 상단 -->
        <div class="list-details__header">
          <!-- 타이틀 -->
          <h3>상세정보</h3>
          <!-- 닫힘 버튼 -->
          <i class="fa-solid fa-xmark" id="detailsCloseBtn1"></i>
        </div>
        <!-- 상세정보 내용 -->
        <div class="list-details__contents">
          <article class="details__left">
            <!-- 병원 대표 사진  -->
            <div class="details__left__img">
              <!-- 기본이미지 -->
              <i class="fa-solid fa-shield-cat"></i>
            </div>
            <div class="details__left__time">
              <h4>영업시간</h4>
              <ul>
                <li class="infoTime">실패</li>
              </ul>
            </div>
          </article>

          <aside class="details__info">
            <!-- 병원 이름, 평점 -->
            <div class="details__info__grade">
              <h3 id="hospitalName1">S동물메디컬센터</h3>
              <i class="fa-solid fa-star"></i>
              <p></p>
            </div>
            <div class="details__info__address">
              <!-- 주소 -->
              <p id="region1">울산 남구</p>
              <!-- 거리 -->
              <span id="regionDis1">1.4km</span>
            </div>
            <!-- 진료 동물 -->
            <div class="details__info__petTag">
              <p class="petTag">실패</p>
            </div>
            <!-- 기타정보 -->
            <div class="details__info__other">
              <p class="addInfo">실패</p>
            </div>

            <div class="details__info__inst">
              <h4>이용안내</h4>
              <p class="instInfo">실패</p>
            </div>
          </aside>
        </div>

      </dialog>
      <!--  -->


      <!-- 목록2 -->
      <div class="list-content2">
        <!-- 병원 이미지-->
        <div class="list-content__img">
          <!-- 기본이미지 -->
          <i class="fa-solid fa-shield-cat"></i>
        </div>
        <!--  병원 정보 -->
        <div class="list-content__info">

          <div class="info__address">
            <!-- 주소 -->
            <p id="region" class="hospital-address">울산 남구</p>
            <!-- <h5 id="region">울산 남구</h5> -->
            <!-- 거리 -->
            <span id="regionDis">1.4km</span>
          </div>

          <!-- 병원이름, 평점 (별)-->
          <div class="info__grade">
            <!-- 병원이름 -->
            <h3 id="info__name" class="hospital-name">S동물메디컬센터</h3>
            <!-- 별 아이콘 -->
            <i class="fa-solid fa-star" style="color: #f26d3e;"></i>
            <!-- 평점 -->
            <p></p>
          </div>
          <!-- 진료 동물 -->
          <div class="info__petTag">
            <p class="petTag">실패</p>
          </div>
          <!-- 기타정보 -->
          <div class="info__other">
            <p class="addInfo">실패</p>
          </div>
        </div>
        <!-- 병원 상세정보 버튼 -->
        <button class="list-content__btn" id="infoBtn2">자세히보기</button>
      </div>
      <!-- 병원 상세정보 팝업 -->
      <dialog class="list-details2" id="list-details2">
        <!-- 팝업창 상단 -->
        <div class="list-details__header">
          <!-- 타이틀 -->
          <h3>상세정보</h3>
          <!-- 닫힘 버튼 -->
          <i class="fa-solid fa-xmark" id="detailsCloseBtn2"></i>
        </div>
        <!-- 상세정보 내용 -->
        <div class="list-details__contents">
          <article class="details__left">
            <!-- 병원 대표 사진  -->
            <div class="details__left__img">
              <!-- 기본이미지 -->
              <i class="fa-solid fa-shield-cat"></i>
            </div>
            <div class="details__left__time">
              <h4>영업시간</h4>
              <ul>
                <li class="infoTime">실패</li>
              </ul>
            </div>
          </article>

          <aside class="details__info">
            <!-- 병원 이름, 평점 -->
            <div class="details__info__grade">
              <h3 id="hospitalName2" >S동물메디컬센터</h3>
              <i class="fa-solid fa-star"></i>
              <p></p>
            </div>
            <div class="details__info__address">
              <!-- 주소 -->
              <p id="region2">울산 남구</p>
              <!-- 거리 -->
              <span id="regionDis2">1.4km</span>
            </div>
            <!-- 진료 동물 -->
            <div class="details__info__petTag">
              <p class="petTag">실패</p>
            </div>
            <!-- 기타정보 -->
            <div class="details__info__other">
              <p class="addInfo">실패</p>
            </div>

            <div class="details__info__inst">
              <h4>이용안내</h4>
              <p class="instInfo">실패</p>
            </div>
          </aside>
        </div>

      </dialog>
      <!--  -->




      <!-- 목록3 -->
      <div class="list-content3">
        <!-- 병원 이미지-->
        <div class="list-content__img">
          <!-- 기본이미지 -->
          <i class="fa-solid fa-shield-cat"></i>
        </div>
        <!--  병원 정보 -->
        <div class="list-content__info">

          <div class="info__address">
            <!-- 주소 -->
            <p id="region" class="hospital-address">울산 남구</p>
            <!-- <h5 id="region">울산 남구</h5> -->
            <!-- 거리 -->
            <span id="regionDis">1.4km</span>
          </div>

          <!-- 병원이름, 평점 (별)-->
          <div class="info__grade">
            <!-- 병원이름 -->
            <h3 id="info__name" class="hospital-name">S동물메디컬센터</h3>
            <!-- 별 아이콘 -->
            <i class="fa-solid fa-star" style="color: #f26d3e;"></i>
            <!-- 평점 -->
            <p></p>
          </div>
          <!-- 진료 동물 -->
          <div class="info__petTag">
            <p class="petTag">실패</p>
          </div>
          <!-- 기타정보 -->
          <div class="info__other">
            <p class="addInfo">실패</p>
          </div>
        </div>
        <!-- 병원 상세정보 버튼 -->
        <button class="list-content__btn" id="infoBtn3">자세히보기</button>
      </div>
      <!-- 병원 상세정보 팝업 -->
      <dialog class="list-details3" id="list-details3">
        <!-- 팝업창 상단 -->
        <div class="list-details__header">
          <!-- 타이틀 -->
          <h3>상세정보</h3>
          <!-- 닫힘 버튼 -->
          <i class="fa-solid fa-xmark" id="detailsCloseBtn3"></i>
        </div>
        <!-- 상세정보 내용 -->
        <div class="list-details__contents">
          <article class="details__left">
            <!-- 병원 대표 사진  -->
            <div class="details__left__img">
              <!-- 기본이미지 -->
              <i class="fa-solid fa-shield-cat"></i>
            </div>
            <div class="details__left__time">
              <h4>영업시간</h4>
              <ul>
                <li class="infoTime">실패</li>
              </ul>
            </div>
          </article>

          <aside class="details__info">
            <!-- 병원 이름, 평점 -->
            <div class="details__info__grade">
              <h3 id="hospitalName3">S동물메디컬센터</h3>
              <i class="fa-solid fa-star"></i>
              <p></p>
            </div>
            <div class="details__info__address">
              <!-- 주소 -->
              <p id="region3">울산 남구</p>
              <!-- 거리 -->
              <span id="regionDis3">1.4km</span>
            </div>
            <!-- 진료 동물 -->
            <div class="details__info__petTag">
              <p class="petTag">실패</p>
            </div>
            <!-- 기타정보 -->
            <div class="details__info__other">
              <p class="addInfo">실패</p>
            </div>

            <div class="details__info__inst">
              <h4>이용안내</h4>
              <p class="instInfo">실패</p>
            </div>
          </aside>
        </div>

      </dialog>
      <!--  -->

      <!-- 목록4 -->
      <div class="list-content4">
        <!-- 병원 이미지-->
        <div class="list-content__img">
          <!-- 기본이미지 -->
          <i class="fa-solid fa-shield-cat"></i>
        </div>
        <!--  병원 정보 -->
        <div class="list-content__info">

          <div class="info__address">
            <!-- 주소 -->
            <p id="region" class="hospital-address">울산 남구</p>
            <!-- <h5 id="region">울산 남구</h5> -->
            <!-- 거리 -->
            <span id="regionDis">1.4km</span>
          </div>

          <!-- 병원이름, 평점 (별)-->
          <div class="info__grade">
            <!-- 병원이름 -->
            <h3 id="info__name" class="hospital-name">S동물메디컬센터</h3>
            <!-- 별 아이콘 -->
            <i class="fa-solid fa-star" style="color: #f26d3e;"></i>
            <!-- 평점 -->
            <p></p>
          </div>
          <!-- 진료 동물 -->
          <div class="info__petTag">
            <p class="petTag">실패</p>
          </div>
          <!-- 기타정보 -->
          <div class="info__other">
            <p class="addInfo">실패</p>
          </div>
        </div>
        <!-- 병원 상세정보 버튼 -->
        <button class="list-content__btn" id="infoBtn4">자세히보기</button>
      </div>
      <!-- 병원 상세정보 팝업 -->
      <dialog class="list-details4" id="list-details4">
        <!-- 팝업창 상단 -->
        <div class="list-details__header">
          <!-- 타이틀 -->
          <h3>상세정보</h3>
          <!-- 닫힘 버튼 -->
          <i class="fa-solid fa-xmark" id="detailsCloseBtn4"></i>
        </div>
        <!-- 상세정보 내용 -->
        <div class="list-details__contents">
          <article class="details__left">
            <!-- 병원 대표 사진  -->
            <div class="details__left__img">
              <!-- 기본이미지 -->
              <i class="fa-solid fa-shield-cat"></i>
            </div>
            <div class="details__left__time">
              <h4>영업시간</h4>
              <ul>
                <li class="infoTime">실패</li>
              </ul>
            </div>
          </article>

          <aside class="details__info">
            <!-- 병원 이름, 평점 -->
            <div class="details__info__grade">
              <h3 id="hospitalName4">S동물메디컬센터</h3>
              <i class="fa-solid fa-star"></i>
              <p></p>
            </div>
            <div class="details__info__address">
              <!-- 주소 -->
              <p id="region4">울산 남구</p>
              <!-- 거리 -->
              <span id="regionDis4">1.4km</span>
            </div>
            <!-- 진료 동물 -->
            <div class="details__info__petTag">
              <p class="petTag">실패</p>
            </div>
            <!-- 기타정보 -->
            <div class="details__info__other">
              <p class="addInfo">실패</p>
            </div>

            <div class="details__info__inst">
              <h4>이용안내</h4>
              <p class="instInfo">실패</p>
            </div>
          </aside>
        </div>

      </dialog>
      <!--  -->


    </div>


  </main>
  <div class="mn-r"></div>

  <!-- 푸터 -->
  <div class="ft-l"></div>
  <!-- 프레그먼트 반영 footer -->
  <th:block th:replace="~{fragment/footer::fnb}"></th:block>
  <div class="ft-r"></div>
  <!-- 푸터 팝업 -->
  <!-- 개인정보 약관 -->
  <th:block th:replace="~{fragment/footer::ft-modal1}"></th:block>
  <!-- 이용 약관 -->
  <th:block th:replace="~{fragment/footer::ft-modal2}"></th:block>
  <!-- 광고 문의 -->
  <th:block th:replace="~{fragment/footer::ft-modal3}"></th:block>
</div>
<!-- 햄버거 메뉴 구현 -->
<script src="/js/hambuger.js"></script>
<!-- footer 개인정보처리방침 모달 구현 -->
<script src="/js/ft_modal.js"></script>
<!--  병원찾기화면 js -->
<script src="/js/map/map1.js"></script>
<script src="/js/map/map2.js"></script>
<script src="/js/map/map3.js"></script>
<script src="/js/map/findBymap.js"></script>
<script></script>
</body>

</html>