<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>동물병원 상세 게시글</title>
  <!--  리뷰게시판 메인 css -->
  <link rel="stylesheet" href="/css/board_review/board_review-detail.css">
  <!--  폰트 어썸 : 로고 -->
  <script src="https://kit.fontawesome.com/6631aa96e6.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="wrap">
  <div class="hd-l"></div>
  <header class="hd">
    <!-- 프레그먼트 반영:menu  -->
    <th:block th:replace="~{fragment/menu::gnb}"></th:block>
  </header>
  <div class="hd-r"></div>

  <div class="fg-l"></div>

  <div class="fg-r"></div>

  <div class="mn-l"></div>
  <main class="container">
    <form action="" method="" th:object="${detailForm}">
      <input type="hidden" id="bbshId" readonly th:field="*{bbshId}">
      <!-- 메인 컨텐츠 -->
      <!-- 첫줄 동물태그 -->
      <div class="tag-l"></div>
      <div class="tag">
        <div class="tag__pet" th:text="*{petType}"></div>
      </div>
      <div class="tag-r"></div>

      <!-- 게시글 제목 -->
      <div class="main-title-l"></div>
      <div class="main-title">
        <div class="main-title__name">
          <div class="name">
            <span th:text="*{bhTitle}"></span>
          </div>
        </div>

        <!-- 조회,좋아요 -->
        <div class="sub">
          <div class="num">
            <div class="num-cnt" >조회수
              <span th:text="*{bhHit}"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="main-title-r"></div>

      <!-- 게시글 작성자 닉네임,시간 -->
      <div class="main-nick-l"></div>
      <div class="main-nick">
        <div class="nick__info">
          <div class="nick__date">
            <div id="userNick1" th:text="${session.loginMember.userNick}">닉네임</div>
            <div id="clock" style=" font-size: 12px">
              <span th:text="*{bhCdate}"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="main-nick-r"></div>

      <!-- 별점 -->
      <div class="preview-l"></div>
      <div class="preview">
        <div class="info">
          <div class="hos">
            <h3 class="name">동물병원 이름</h3>
            <div class="img">
              <!-- 기본이미지 -->
              <img src="../img/img_default-hospital.svg" alt="기본 병원 이미지" />
            </div>
          </div>
          <div class="star-ratings">
            <div class="star-ratings__title">총점</div>
            <div class="star-rating space-x-4 mx-auto">
              <label class="star pr-4" th:each="i:${#numbers.sequence(1,detailForm.bhStar)}">★</label>
            </div>
            <p id="result" th:text="*{bhStar}"></p>
            <p>점</p>
          </div>
        </div>
        <div class="preview-r"></div>


        <!-- 게시글내용 -->
        <div class="content-l"></div>
        <div class="content">
          <div class="content__view">
            <div th:each="file : ${imagedFiles}" class="view__img">
              <th:block th:if="${#strings.contains(file.ftype,'image')}">
                <img th:src="@{|/attach/view/${file.uploadfileId}|}" >
              </th:block>
            </div>
            <span th:text="*{bhContent}"></span>
          </div>
        </div>
        <div class="content-r"></div>

        <!-- 목록,수정,삭제버튼 -->
        <div class="btn-l"></div>
        <div class="btn">
          <div class="btn__che">
            <div class="btn__btn-list">
              <div class="list">
                <button type="button" id="btnFindAll" th:onclick="|location.href='@{/BBSH}'|">
                  목록
                </button>
              </div>
            </div>
            <div class="btn__btn">
              <div class="modi">
                <button type="button" id="btnUpdate">수정</button>
              </div>
              <div class="del">
                <button class="openBtn" id="btnDelete">삭제</button>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-r"></div>

        <!-- 댓글작성 -->
        <div class="comment-cnt-l"></div>
        <div class="comment-cnt">
          <div class="comment-cnt__num">
            <div>댓글</div>
            <div th:text="${cntOfReplies}">2</div>
          </div>
        </div>
        <div class="comment-cnt-r"></div>
        <div class="main-comment-l"></div>
        <div class="main-comment">
          <div class="input">
            <div class="main-comment__write">
              <div id="userNick" th:text="${session.loginMember.userNick}">닉네임</div>
              <div><input id="bcContent" type="text" placeholder="댓글을 입력해주세요." /></div>
              <div class="re_btn">
                <div class="btn1"><button id="cancelBtn" type="button">취소</button></div>
                <div class="btn2"><button id="addBtn" type="button">등록</button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-comment-r"></div>

        <!-- 댓글 리스트 -->
        <div class="list-comment-l"></div>
        <div class="list-comment">
          <div class="input item1" th:each="reply : ${findedReplies}">
            <div class="comment__list">
              <article class="left">
                <div th:text="${reply.userNick}" style="margin-bottom: 20px; font-weight: bold;">닉네임</div>
                <div th:text="${reply.bcContent}">
                  sample text
                </div>
              </article>
              <aside class="right">
                <div th:text="${reply.bcUdate}">time</div>
                <th:block th:if="${reply.userNick} == ${session.loginMember.userNick}">
                  <div class="comment__btn">
                    <div class="btn1"><button id="replyUpdateBtn1">수정</button></div>
                    <div class="btn2"><button id="replyDelBtn">삭제</button></div>
                  </div>
                  <div class="update" style="display: none;">
                    <div class="btn1"><button id="replyUpdateBtn2">확인</button></div>
                    <div class="btn2"><button id="replyCancleBtn">취소</button></div>
                  </div>
                </th:block>
              </aside>
            </div>
          </div>
        </div>
        <div class="list-comment-r"></div>
      </div>
    </form>
  </main>

  <!-- 푸터 -->
  <div class="ft-l"></div>
  <!-- 프레그먼트 반영 footer -->
  <th:block th:replace="~{fragment/footer::fnb}"></th:block>
  <div class="ft-r"></div>
  <!-- 푸터 팝업 -->
  <!-- 개인정보 약관 -->
  <th:block th:replace="~{fragment/footer::ft-modal1}"></th:block>
  <!-- 이용 약관 -->
  <th:block th:replace="~{fragment/footer::ft-modal2}"></th:block>
  <!-- 광고 문의 -->
  <th:block th:replace="~{fragment/footer::ft-modal3}"></th:block>
</div>


<!-- 햄버거 메뉴 구현 -->
<script src="/js/hambuger.js"></script>
<!-- footer 개인정보처리방침 모달 구현 -->
<script src="/js/ft_modal.js"></script>
<!-- 작성날짜 -->
<script src="/js/board/clock.js"></script>
<!-- 취소,삭제 모달 구현 -->
<!--<script src="/js/board_review/board_del_modal.js"></script>-->
<script>
  const $bbshId = document.getElementById('bbshId');

  const $btnDelete = document.getElementById('btnDelete');
  const $btnUpdate = document.getElementById('btnUpdate');


  const btnDelete_h = e=>{
    if(confirm('삭제 하시겠습니까?')){
      globalThis.location.href = `/BBSH/${$bbshId.value}/del`;
  return false;
    }
  };

  const btnUpdate_h = e => {
    globalThis.location.href = `/BBSH/${$bbshId.value}/edit`;
  };

  $btnDelete.addEventListener('click',btnDelete_h, false);
  $btnUpdate.addEventListener('click', btnUpdate_h, false);

      const open = () => {
        document.querySelector('.modal').classList.remove('hidden');
      };

      const close = () => {
        document.querySelector('.modal').classList.add('hidden');
      };

      document.querySelector('.openBtn').addEventListener('click', open);
      document.querySelector('.closeBtn').addEventListener('click', close);
      document.querySelector('.bg').addEventListener('click', close);


//댓글 등록버튼
const $addBtn = document.getElementById('addBtn');
//댓글 취소버튼
const $cancelBtn = document.getElementById('cancelBtn');

//댓글 등록
const add_h = e => {
   $bcContent.disabled == false;
   const url = '/api/bbshReply/save';
   const payLoad = {
    "bbshId": $bbshId.value,
    "bcContent":$bcContent.value,
    "userNick": $userNick.textContent
   };
    ajax
       .post(url, payLoad)
       .then(res => {
                if(res.header.rtcd == '00'){
                    confirm('댓글 등록완료!');
                    res.json();
                }
        })
       .catch(console.error); //err=>console.error(err)
       return;

}

$addBtn.addEventListener('click',add_h,false);

//댓글 등록취소
$cancelBtn.addEventListener('click',e => {
   $bcContent.disabled == true;
    $bcContent.textContent = '';
},false);

</script>

</body>

</html>