<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="메인화면" />
  <meta name="keywords" content="pet hospital search" />
  <meta name="author" content="2팀" />
  <title>병원후기</title>
  <!--  리뷰게시판 메인 css -->
  <link rel="stylesheet" href="/css/board_review/board_review.css" />
  <!--  폰트 어썸 : 로고 -->
  <script src="https://kit.fontawesome.com/6631aa96e6.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="wrap">
  <div class="hd-l"></div>
  <header class="hd">
    <!-- 프레그먼트 반영:menu  -->
    <th:block th:replace="~{fragment/menu::gnb}"></th:block>
  </header>
  <div class="hd-r"></div>

  <div class="fg-l"></div>

  <div class="fg-r"></div>

  <div class="mn-l"></div>
  <main class="container">
    <!-- 메인 컨텐츠 -->
    <form id="frm" action=""  th:method="post">
      <div class="main-list">
        <div class="list">
          <div class="main">병원 후기</div>
          <div class="selectBox">
            <select class="select">
              <option value="viewCnt">조회순</option>
              <option value="latest">최신순</option>
              <!-- <option value="like">좋아요</option> -->
            </select>
            <span class="icoArrow">
              <i class="fa-solid fa-arrow-down"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="sort">
        <div class="search">
          <div class="left">
            <div class="tag">동물태그</div>
            <div class="selectBox">
              <select class="select" name="petTag">
                <option value="">동물 대분류</option>
                <option value="#개">개</option>
                <option value="#고양이">고양이</option>
                <option value="#소동물">소동물</option>
                <option value="기타">기타</option>
              </select>
              <span class="icoArrow">
              <i class="fa-solid fa-arrow-down"></i>
            </span>
            </div>
          </div>
          <div class="input">
            <!--            <input type="text" id="keyword" name="keyword" />-->
            <!--            <button type="button" id="searchBtn">검색</button>-->


            <input
                type="search"
                class="textSearch"
            /><button type="button" class="searchBtn">검색</button>

          </div>
        </div>
      </div>

      <!-- 글쓰기버튼 -->
      <div class="write-btn-l"></div>
      <div class="write-btn">
        <div>
          <button type="button" th:onclick="|location.href='@{/BBSH/add}'|">글쓰기</button>
        </div>
      </div>
      <div class="write-btn-r"></div>

      <!-- 선택한 동물태그 -->
      <div class="tag-list">
      </div>
      <div class="tag-list-r"></div>

      <div class="main-nick-l"></div>
      <!-- 게시글 영역 -->
      <div class="main-nick">
        <!-- 게시글 -->
        <th:block th:each="BBSH : ${bbshLists}">
          <input type="text" id="bbshId" th:value="${BBSH.bbshId}" style="display:none;">
          <div class="post"  th:onclick="|location.href='@{/BBSH/{id}/detail(id=*{BBSH.bbshId})}'|">
            <div class="info">
              <div class="pro">
                <div class="img">
                  <!--  기본프로필 이미지 -->
                  <i class="fa-solid fa-circle-user" style="color: #d1d1d1;"></i>
                </div>
                <div class="name">
                  <div>작성자명</div>
                  <div id="clock" th:text="${BBSH.bhUdate}">

                  </div>
                </div>
              </div>
              <div class="sub">
                <div class="num">
                  <div class="num-cnt">
                    조회수
                    <span th:text="${BBSH.bhHit}"></span>
                  </div>
                </div>
                <div class="tag" th:text="${BBSH.petType}"></div>
              </div>
            </div>
            <div class="preview">
              <div class="img">
                <!--              &lt;!&ndash; 첨부된 이미지가 있는 경우  &ndash;&gt;-->
                <!--              <img th:if="${#maps.containsKey(imagedFileMap, BBSH.bbshId)}" th:src="@{|/attach/view/${imagedFileMap[BBSH.bbshId]}|}">-->
                <!--              &lt;!&ndash; 기본이미지 &ndash;&gt;-->
                <!--              <i th:if="${not #maps.containsKey(imagedFileMap, BBSH.bbshId)}" class="fa-solid fa-shield-cat"></i>-->
                <i class="fa-solid fa-shield-cat"></i>
              </div>

              <div class="review">
                <div class="hos">슬기로운 동물병원</div>
                <div>
                  <div>
                    <a href="" th:href="@{/BBSH/{bbshId}/detail(bbshId=${BBSH.bbshId})}"></a>
                  </div>
                  <p th:text="${BBSH.bhContent}"> </p>
                  <div th:each="file : ${imagedFiles}" class="view__img">
                    <th:block th:if="${#strings.contains(file.ftype,'image')}">
                      <img th:src="@{|/attach/view/${file.uploadfileId}|}" >
                    </th:block>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th:block>

        </th:block>
      </div>
      <!-- 게시판 페이지 -->
      <div class="page">
        <!--        <button type="button" class="prevBtn" onClick="location.href='PAGENAME.html'">-->
        <!--          이전-->
        <!--        </button>-->
        <!--        <button type="button" class="pageBtns item1 active" onClick="location.href='PAGENAME.html'">-->
        <!--          1-->
        <!--        </button>-->
        <!--        <button type="button" class="pageBtns item2" onClick="location.href='PAGENAME.html'">-->
        <!--          2-->
        <!--        </button>-->
        <!--        <button type="button" class="pageBtns item3" onClick="location.href='PAGENAME.html'">-->
        <!--          3-->
        <!--        </button>-->
        <!--        <button type="button" class="pageBtns item4" onClick="location.href='PAGENAME.html'">-->
        <!--          4-->
        <!--        </button>-->
        <!--        <button type="button" class="nextBtn" onClick="location.href='PAGENAME.html'">-->
        <!--          다음-->
        <!--        </button>-->
        <!-- 이전 페이지 -->
<!--        <th:block th:if="${fc.prev}">-->
<!--          <a href="" th:href="@{/BBSH/1}">처음으로</a>-->
<!--          <a href="" th:href="@{/BBSH/{reqPage}(reqPage=${fc.startPage-1})}"-->
<!--          >앞</a>-->
<!--        </th:block>-->
<!--        &lt;!&ndash; 페이지 숫자 표시 &ndash;&gt;-->
<!--        <th:block-->
<!--            th:each="pageNum : ${#numbers.sequence(fc.startPage, fc.endPage)}"-->
<!--        >-->
<!--          <th:block th:if="${pageNum !=0}">-->
<!--            <a-->
<!--                class="pageItem"-->
<!--                th:classappend="${fc.rc.reqPage == pageNum} ? 'active'"-->
<!--                href=""-->
<!--                th:href="@{/BBSH/{reqPage}(reqPage=${pageNum})}"-->
<!--                th:text="${pageNum}"-->
<!--            >1</a>-->
<!--          </th:block>-->
<!--        </th:block>-->
<!--        &lt;!&ndash; 다음 페이지 &ndash;&gt;-->
<!--        <th:block th:if="${fc.next}">-->
<!--          <a href="" th:href="@{/BBSH/{reqPage}(reqPage=${fc.endPage+1})}"-->
<!--          >뒤</a-->
<!--          >-->
<!--          <a href="" th:href="@{/BBSH/{reqPage}(reqPage=${fc.finalEndpage})}"-->
<!--          >끝으로</a-->
<!--          >-->
<!--        </th:block>-->
      </div>
    </form>
  </main>
  <div class="mn-r"></div>

  <!-- 푸터 -->
  <div class="ft-l"></div>
  <!-- 프레그먼트 반영 footer -->
  <th:block th:replace="~{fragment/footer::fnb}"></th:block>
  <div class="ft-r"></div>
  <!-- 푸터 팝업 -->
  <!-- 개인정보 약관 -->
  <th:block th:replace="~{fragment/footer::ft-modal1}"></th:block>
  <!-- 이용 약관 -->
  <th:block th:replace="~{fragment/footer::ft-modal2}"></th:block>
  <!-- 광고 문의 -->
  <th:block th:replace="~{fragment/footer::ft-modal3}"></th:block>
</div>
<!-- 햄버거 메뉴 구현 -->
<script src="/js/hambuger.js"></script>
<!-- footer 개인정보처리방침 모달 구현 -->
<script src="/js/ft_modal.js"></script>
<!-- 동물 태그 선택 구현 -->
<script src="/js/board/board_checkPet.js"></script>

<script>

<!--'use strict';-->
<!--const $bbsh = document.querySelector('.bbs-wrap');-->
<!--const category = ($bbs?.dataset.code)? $bbs.dataset.code : '';-->

<!--const $writeBtn = document.getElementById('writeBtn');-->
<!--$writeBtn?.addEventListener("click", e=>{-->
<!--  const url = `/bbs/add?category=${category}`-->
<!--  location.href= url;   // get /bbs/add-->
<!--});-->


//검색
const $searchType = document.getElementById('searchType');
const $keyword    = document.getElementById('keyword');
const $searchBtn  = document.getElementById('searchBtn');

//검색 버튼 클릭시
$searchBtn?.addEventListener('click', search_f);

//키워드 입력필드에 엔터키 눌렀을때 검색
$keyword?.addEventListener('keydown', e=>{
    if(e.key === 'Enter') {
        search_f(e);
    }
});

function search_f(e){
    //검색어입력 유무체크
    if($keyword.value.trim().length === 0){
       alert('검색어를 입력하세요');
       $keyword.focus();$keyword.select(); //커서이동
       return false;
    }
    const url = `/bbs/list/1/${$searchType.value}/${$keyword.value}?category=${category}`;
    location.href = url;
}

    <script>
      const $textSearch = document.querySelector(".textSearch");
      const $searchBtn = document.querySelector(".searchBtn");

      const search_h = (e) => {
        if (e.key === "Enter") {
          if ($textSearch.value === "") {
            alert("검색어를 입력해주세요.");
          } else {
            globalThis.location.href = `/searches/${$textSearch.value}`;
            $textSearch.value = "";
          }
        }
      };
      $textSearch.addEventListener("keyup", search_h);
      $searchBtn.addEventListener("click", (e) => {
        if ($textSearch.value === "") {
          alert("검색어를 입력해주세요.");
          return;
        } else {
          globalThis.location.href = `/searches/${$textSearch.value}`;
          $textSearch.value = "";
        }
      });
    </script>

</script>
</body>

</html>